.kc-dashboard-box-right {
    width: 504px;
    height: 892px;
    z-index: 100;
    background-image: url(~@/assets/images/rightbg.png);
    background-repeat: no-repeat;
    background-size: 524px 912px;
    background-position-x: -10px;
    background-position-y: -10px;
    .box-right-header {
        margin-top: 3px;
        margin-left: 3px;
        margin-right: 3px;
        height: 48px;
        background: #08316a;
        background: linear-gradient(135deg, transparent 24px, #08316a 0) top left;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        .layer22 {
            z-index: 208;
            height: 48px;
            width: 504px;
            position: relative;
            .wrap10 {
                z-index: auto;
                width: 233px;
                height: 6px;
                margin-left: 264px;
                justify-content: space-between;
                .bd7 {
                    z-index: auto;
                    width: 93px;
                    height: 3px;
                    .block3 {
                        z-index: auto;
                        width: 93px;
                        height: 1px;
                        justify-content: space-between;
                        .group25 {
                            z-index: 367;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .group26 {
                            z-index: 366;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .group27 {
                            z-index: 365;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .group28 {
                            z-index: 364;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .group29 {
                            z-index: 363;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .group30 {
                            z-index: 362;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .group31 {
                            z-index: 361;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .group32 {
                            z-index: 360;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .group33 {
                            z-index: 359;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .group34 {
                            z-index: 358;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .group35 {
                            z-index: 357;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .group36 {
                            z-index: 356;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .group37 {
                            z-index: 355;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .group38 {
                            z-index: 354;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .group39 {
                            z-index: 353;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .group40 {
                            z-index: 352;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .group41 {
                            z-index: 351;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .group42 {
                            z-index: 350;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .group43 {
                            z-index: 349;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                    }
                    .block4 {
                        z-index: auto;
                        width: 88px;
                        height: 1px;
                        margin-left: 2px;
                        justify-content: space-between;
                        .outer7 {
                            z-index: 387;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .outer8 {
                            z-index: 386;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .outer9 {
                            z-index: 385;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .outer10 {
                            z-index: 384;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .outer11 {
                            z-index: 383;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .outer12 {
                            z-index: 382;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .outer13 {
                            z-index: 381;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .outer14 {
                            z-index: 380;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .outer15 {
                            z-index: 379;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .outer16 {
                            z-index: 378;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .outer17 {
                            z-index: 377;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .outer18 {
                            z-index: 376;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .outer19 {
                            z-index: 375;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .outer20 {
                            z-index: 374;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .outer21 {
                            z-index: 373;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .outer22 {
                            z-index: 372;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .outer23 {
                            z-index: 371;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .outer24 {
                            z-index: 370;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                    }
                    .block5 {
                        z-index: auto;
                        width: 88px;
                        height: 1px;
                        margin-left: 4px;
                        justify-content: space-between;
                        .mod13 {
                            z-index: 407;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .mod14 {
                            z-index: 406;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .mod15 {
                            z-index: 405;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .mod16 {
                            z-index: 404;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .mod17 {
                            z-index: 403;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .mod18 {
                            z-index: 402;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .mod19 {
                            z-index: 401;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .mod20 {
                            z-index: 400;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .mod21 {
                            z-index: 399;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .mod22 {
                            z-index: 398;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .mod23 {
                            z-index: 397;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .mod24 {
                            z-index: 396;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .mod25 {
                            z-index: 395;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .mod26 {
                            z-index: 394;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .mod27 {
                            z-index: 393;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .mod28 {
                            z-index: 392;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .mod29 {
                            z-index: 391;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                        .mod30 {
                            z-index: 390;
                            width: 3px;
                            height: 1px;
                            background-color: rgba(98, 165, 255, 1);
                        }
                    }
                }
                .bd8 {
                    z-index: 346;
                    height: 6px;
                    background: url(~@/assets/images/db8.png) 100% no-repeat;
                    width: 140px;
                    justify-content: flex-end;
                    align-items: flex-start;
                    padding: 0 0 1px 1px;
                    .main15 {
                        z-index: 389;
                        width: 3px;
                        height: 1px;
                        background-color: rgba(98, 165, 255, 1);
                    }
                }
            }
            .wrap11 {
                z-index: auto;
                width: 112px;
                height: 25px;
                justify-content: space-between;
                margin: 5px 0 0 196px;
                .icon2 {
                    z-index: 342;
                    width: 10px;
                    height: 8px;
                    margin-top: 9px;
                }
                .word12 {
                    z-index: 337;
                    width: 72px;
                    display: block;
                    overflow-wrap: break-word;
                    color: rgba(255, 255, 255, 0.85);
                    font-size: 18px;
                    font-family: PingFangSCBold;
                    white-space: nowrap;
                    line-height: 25px;
                    text-align: left;
                }
                .label4 {
                    z-index: 338;
                    width: 10px;
                    height: 8px;
                    margin-top: 9px;
                }
            }
            .wrap12 {
                z-index: 369;
                position: absolute;
                left: 363px;
                top: 3px;
                width: 3px;
                height: 1px;
                background-color: rgba(98, 165, 255, 1);
            }
        }
    }
    .box-right-body {
        padding: 0 16px 0 16px;
        height: 842px;
        .group {
            .select-item {
                margin-top: 16px;
            }
            .el-select {
                width: 100%;
                background: #08021c;
                .el-input__inner {
                    color: #8fa8c9;
                    border-radius: 2px;
                    background: #08021c;
                    border: 2px solid #122044;
                }
            }
            .el-date-editor {
                width: 100%;
                background: #08021c;
                .el-input__inner {
                    color: #8fa8c9;
                    border-radius: 2px;
                    background: #08021c;
                    border: 2px solid #122044;
                }
            }
            margin-top: 24px;
            .layer29 {
                z-index: auto;
                width: 446px;
                height: 20px;
                justify-content: space-between;
                margin: 9px 0 0 12px;
                .word14 {
                    z-index: 253;
                    width: 74px;
                    display: block;
                    overflow-wrap: break-word;
                    color: rgba(143, 168, 201, 1);
                    font-size: 14px;
                    white-space: nowrap;
                    line-height: 20px;
                    text-align: left;
                }
                .txt8 {
                    z-index: 265;
                    width: 74px;
                    display: block;
                    overflow-wrap: break-word;
                    color: rgba(143, 168, 201, 1);
                    font-size: 14px;
                    white-space: nowrap;
                    line-height: 20px;
                    text-align: left;
                }
                .word15 {
                    z-index: 271;
                    width: 74px;
                    display: block;
                    overflow-wrap: break-word;
                    color: rgba(143, 168, 201, 1);
                    font-size: 14px;
                    white-space: nowrap;
                    line-height: 20px;
                    text-align: left;
                }
            }
            .layer30 {
                z-index: auto;
                width: 396px;
                height: 28px;
                margin: 4px 0 0 12px;
                .word16 {
                    z-index: 254;
                    width: 60px;
                    display: block;
                    overflow-wrap: break-word;
                    color: rgba(58, 196, 255, 1);
                    font-size: 20px;
                    white-space: nowrap;
                    line-height: 28px;
                    text-align: left;
                }
                .txt9 {
                    z-index: 266;
                    width: 20px;
                    display: block;
                    overflow-wrap: break-word;
                    color: rgba(58, 196, 255, 1);
                    font-size: 20px;
                    white-space: nowrap;
                    line-height: 28px;
                    text-align: left;
                    margin-left: 126px;
                }
                .info8 {
                    z-index: 272;
                    width: 24px;
                    display: block;
                    overflow-wrap: break-word;
                    color: rgba(58, 196, 255, 1);
                    font-size: 20px;
                    white-space: nowrap;
                    line-height: 28px;
                    text-align: left;
                    margin-left: 166px;
                }
            }
            .layer31 {
                z-index: auto;
                width: 446px;
                height: 20px;
                justify-content: space-between;
                margin: 24px 0 0 12px;
                .info9 {
                    z-index: 256;
                    width: 74px;
                    display: block;
                    overflow-wrap: break-word;
                    color: rgba(143, 168, 201, 1);
                    font-size: 14px;
                    white-space: nowrap;
                    line-height: 20px;
                    text-align: left;
                }
                .info10 {
                    z-index: 274;
                    width: 74px;
                    display: block;
                    overflow-wrap: break-word;
                    color: rgba(143, 168, 201, 1);
                    font-size: 14px;
                    white-space: nowrap;
                    line-height: 20px;
                    text-align: left;
                }
                .word17 {
                    z-index: 268;
                    width: 74px;
                    display: block;
                    overflow-wrap: break-word;
                    color: rgba(143, 168, 201, 1);
                    font-size: 14px;
                    white-space: nowrap;
                    line-height: 20px;
                    text-align: left;
                }
            }
            .layer32 {
                z-index: auto;
                width: 432px;
                height: 28px;
                margin: 4px 0 0 12px;
                .word18 {
                    z-index: 257;
                    width: 59px;
                    display: block;
                    overflow-wrap: break-word;
                    color: rgba(58, 196, 255, 1);
                    font-size: 20px;
                    white-space: nowrap;
                    line-height: 28px;
                    text-align: left;
                }
                .txt10 {
                    z-index: 275;
                    width: 40px;
                    display: block;
                    overflow-wrap: break-word;
                    color: rgba(58, 196, 255, 1);
                    font-size: 20px;
                    white-space: nowrap;
                    line-height: 28px;
                    text-align: left;
                    margin-left: 127px;
                }
                .word19 {
                    z-index: 269;
                    width: 60px;
                    display: block;
                    overflow-wrap: break-word;
                    color: rgba(58, 196, 255, 1);
                    font-size: 20px;
                    white-space: nowrap;
                    line-height: 28px;
                    text-align: left;
                    margin-left: 146px;
                }
            }
            .layer33 {
                z-index: auto;
                width: 260px;
                height: 20px;
                justify-content: space-between;
                margin: 24px 0 0 12px;
                .txt11 {
                    z-index: 259;
                    width: 74px;
                    display: block;
                    overflow-wrap: break-word;
                    color: rgba(143, 168, 201, 1);
                    font-size: 14px;
                    white-space: nowrap;
                    line-height: 20px;
                    text-align: left;
                }
                .word20 {
                    z-index: 262;
                    width: 74px;
                    display: block;
                    overflow-wrap: break-word;
                    color: rgba(143, 168, 201, 1);
                    font-size: 14px;
                    white-space: nowrap;
                    line-height: 20px;
                    text-align: left;
                }
            }
            .layer34 {
                z-index: auto;
                width: 286px;
                height: 28px;
                justify-content: space-between;
                margin: 4px 0 0 12px;
                .word21 {
                    z-index: 260;
                    width: 80px;
                    display: block;
                    overflow-wrap: break-word;
                    color: rgba(58, 196, 255, 1);
                    font-size: 20px;
                    white-space: nowrap;
                    line-height: 28px;
                    text-align: left;
                }
                .word22 {
                    z-index: 263;
                    width: 100px;
                    display: block;
                    overflow-wrap: break-word;
                    color: rgba(58, 196, 255, 1);
                    font-size: 20px;
                    white-space: nowrap;
                    line-height: 28px;
                    text-align: left;
                }
            }
        }
    }
}
