.kc-dashboard-header {
    position: relative;
    display: flex;
    height: 92px;
    z-index: 100;
    .main-bg {
        margin: 20px auto 0 auto;
        height: 72px;
        width: 1206px;
        background: url(~@/assets/images/header.png) no-repeat center center;
        background-size: 100% 100%;
        .main-title {
            z-index: 411;
            display: block;
            overflow-wrap: break-word;
            color: rgba(58, 196, 255, 1);
            font-size: 22px;
            white-space: nowrap;
            line-height: 72px;
            text-align: center;
        }
    }
}
