.kc-dashboard-box-middle {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  //height: 100%;
  //width: 792px;
  width: 100%;
  //width: 1262px;
  height: 1060px;
  //background: url(~@/assets/images/middleBg.png) no-repeat bottom center;
  //background-size: auto;
  .box-top {
    width: 100%;
    height: 32px;
    margin-top: 30px;
    .group2 {
      margin: 0 auto;
      z-index: auto;
      width: 558px;
      height: 32px;
      justify-content: space-between;
      .outer1 {
        z-index: 415;
        width: 160px;
        height: 4px;
        background: url(~@/assets/images/outer1.png) -3px -3px
        no-repeat;
        margin-top: 14px;
      }
      .outer2 {
        z-index: 410;
        height: 32px;
        border-width: 1px;
        border: 1px solid rgba(98, 165, 255, 1);
        background-color: rgba(8, 49, 106, 0.71);
        box-shadow: inset 0px 0px 4px 1px rgba(80, 148, 245, 0.7);
        width: 102px;
        justify-content: center;
        align-items: center;
        .txt2 {
          z-index: 411;
          width: 70px;
          display: block;
          overflow-wrap: break-word;
          color: rgba(58, 196, 255, 1);
          font-size: 14px;
          white-space: nowrap;
          line-height: 20px;
          text-align: left;
        }
      }
      .outer3 {
        z-index: 413;
        height: 32px;
        border-width: 1px;
        border: 1px solid rgba(98, 165, 255, 1);
        background-color: rgba(8, 49, 106, 0.71);
        box-shadow: inset 0px 0px 4px 1px rgba(80, 148, 245, 0.7);
        width: 88px;
        justify-content: center;
        align-items: center;
        .word1 {
          z-index: 414;
          width: 56px;
          display: block;
          overflow-wrap: break-word;
          color: rgba(58, 196, 255, 1);
          font-size: 14px;
          white-space: nowrap;
          line-height: 20px;
          text-align: left;
        }
      }
      .outer4 {
        z-index: 418;
        width: 160px;
        height: 4px;
        background: url(~@/assets/images/outer4.png) -3px -3px
        no-repeat;
        margin-top: 14px;
      }
    }
  }
  .box-bottom {
    margin: 129px auto 0 auto;
    width: 622px;
    height: 674px;
    background: url(~@/assets/images/body.png) -3px -3px no-repeat;;
    background-size: 100% ;

  }
}